nav {
  height: 5vh;
  font-size: 1.5em;
}

nav.container-fluid {
  width: fit-content;
}

body {
  max-width: 1440px;
}

html, body {
  height: 100%;
}

nav i, footer i {
  height: 100%;
  margin-top: 0.65em;
  margin-left: 1em;
}

footer {
  width: 100%;
  margin-top: 3.5em;
  padding-bottom: 2em;
}

footer > address, footer > p {
  display: inline;
}

h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.intro, .intro h1 {
  width: max-content;
}

.intro h1 {
  font-size: 2em;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 1em;
}

@media (min-width: 992px) {
  .intro h1 {
    font-size: 4em;
  }
}

#me {
  width: 30%;
  border-radius: 0.5em;
}

#home-btn {
  border-left: 8px solid #0d6efd;
  height: fit-content;
}

body, .nav-link, #home-btn, #resume-btn, nav i, footer i {
  color: #E8E8E8;
  background-color: #202020;
  text-decoration: none;
}

#home-btn:hover, #home-btn:focus,
#resume-btn:hover, #resume-btn:focus,
.nav-link:hover, .nav-link:focus,
nav i:hover, nav i:focus,
footer i:hover, footer i:focus {
  color: #e8e8e88c;
  background-color: #202020;
}

.bio a {
  color: #E8E8E8;
  text-decoration: underline;
}

.bio a:hover, .bio a:focus {
  color: #e8e8e88c;
}

.bio abbr[title] {
  text-decoration: none;
  cursor: help;
}
